body {
      font-family: 'IBM Plex Sans', sans-serif;
      margin: 0px;
      padding-bottom: 5px;
}

div {
	display: block
}


#bio {
  font-size: 15px;
  color: black;
  text-align: justify;
}

.content {
    padding-bottom:20px;
}

.center {
    margin: 0 auto;
	width: 60%;
}

.title {
  font-size: 40px;
  color: black;
  font-weight: bold;
  text-align: center;
   margin-left: 3%;
   margin-right: 3%;
  padding-top: 35px;
  padding-bottom: 20px;
  font-family: 'Cabin', sans-serif;
}
a {
  font-weight: bold;
  text-decoration: none;
}
a:link {
    color:#4884CF;
}

a:visited {
  color: purple;
}

a:active {
  color: black;
}

a:hover {
    color:#ff8299;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.heading {
	color: black;
	text-transform: uppercase;
  	padding-bottom: 30px;
	font-size:20px;
    /*text-align:center;*/
}

.paper-name {
	color: black;
    font-family: 'Cabin', sans-serif;
	font-weight: bold;
	font-size:18px;
    text-align: none;
}

.authors {
	padding-top:5px;
	padding-bottom:5px;
}

.proceedings {
	padding-bottom:5px;
}

.footer{ 
       text-align: left;    
       bottom: 5px; 
       width: 50%;
	   color:#2C3E50;
       font-size:10px;
       padding-top:50px;
}

.resume-svg {
	width:"100%";
	height:"50px" 
}

#paper-button {
 border-color: #0099ab;
 color: #0099ab;
}

#code-button {
 border-color: #67c8a3;
 color: #67c8a3;
}

#project-button {
  border-color: #ff8299;
  color: #ff8299;
}
.button {
  /*font-family: 'Cabin', sans-serif;*/
  border-radius: 20px;
  border-style: solid;
  border-width: 2px;
  background-color: white;
  text-align: center;
  transition: all 0.2s;
  cursor: pointer;
  padding-top:5px;
  padding-bottom:5px;
  padding-left:10px;
  padding-right:10px;
  /*font-size: 15px;*/
}


.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.2s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.octicon {
	padding-bottom:3px;
}
